@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@media print {
  header, button, .no-print {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  .print-break-inside-avoid {
    break-inside: avoid;
  }
}